<% include ../partials/header %>

<div class="container">
    <h4>ממשק ניהול</h4>


<form action="/admin/q" method="GET">
    <label>חפש הרשמות</label>
    <input name="search" type="text" placeholder="חפש לפי שם,דואר אלקטרוני, חשבונית או מספר סידורי" autofocus>
    <button class="btn">חפש</button>
</form>

<h4>תוצאות</h4>
<div class="row">
    <% results.forEach((result) => { %>
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title"><%= result.fullName %></span>
                  <p><strong>רישום לקוח:</strong>  <%= result.date.toDateString() %> </p>
                  <p><strong>מייל:</strong>  <%= result.email %> </p>
                  <p><strong>טלפון:</strong>  <%= result.phone %> </p>
                </div>
                <div class="card-action">
                  <button class="btn viewBtn">מוצרים</button>
                  <a href="edit/<%= result._id %>" class="btn EditUser">עריכה</a>
                </div>
              </div>
              <div class="card blue-grey darken-4 viewCnt">
                <div class="card-content white-text">
               <% result.products.forEach((product)=>{ %>
                    <h5>מוצר: <%= product.productName %></h5>
                    <p><strong>נרכש בסניף:</strong>  <%= product.store %></p>
                    <p><strong>רישום מוצר:</strong>  <%= product.regDate.toDateString("he-IL") %></p>
                    <p><strong> מס' חשבונית: </strong><%= product.invoice %></p>
                    <p><strong>מס' סידורי: </strong> <%= product.serial %></p>
                    <p><strong>הערה: </strong> <%= product.note %></p>
                    <div class="card-action">
                        <a href="edit/<%= result._id %>/product/<%= product._id %>" class="btn">עריכה</a>
                        <button class="btn red deleteProd">מחיקה</button>
                    </div>
                    <hr>
                <% }); %>
                </div>
              </div>
            </div>
	<% }); %>
</div>
<!-- End Container -->
</div>

<script src="/scripts/script.js"></script>
<% include ../partials/footer %>