<% include ../partials/header %>

<div class="container">
    <a  href="/admin/edit/<%= user._id %>" class="waves-effect waves-light btn">
        <i class="material-icons right">arrow_forward</i>חזרה לדף לקוח</a>
    <h4>טופס תיקון ל<%= user.fullName %></h4>
    <form action="/admin/lab/new" method="POST">
    <div class="field">
        <label for="">טופס מספר</label>
        <input type="text" name="lab[number]" value="" required>
    </div>
    <div class="field">
        <label for="">שם לקוח</label>
        <input type="text" name="user[name]" value="<%= user.fullName%>">
    </div>
    <div class="field">
        <label for="">דוא"ל</label>
        <input type="email" name="user[email]" value="<%= user.email%>">
    </div>
    <div class="field">
        <label for="">טלפון</label>
        <input type="tel" name="user[phone]" value="<%= user.phone %>">
    </div>
    <div class="field">
        <label for="">מוצר לתיקון</label>
        <input type="text" name="lab[product]" placeholder="" required>
    </div>
    <div class="field">
        <label for="">תיאור תקלה</label>
        <input type="text" name="lab[content]" placeholder="" required>
    </div>
    <div class="field">
        <label for="">הערות</label>
        <input type="text" name="lab[note]" placeholder="" required>
    </div>
    <div class="field">
        <label for="">סכום לתשלום</label>
        <input type="number" name="lab[payment]" placeholder="" required>
    </div>
    <label for="isPayed">
    <input type="checkbox" name="lab[isPayed]" id="isPayed">
    <span>שולם מראש</span>
    </label>
    <br>
    <input class="btn "type="submit" value="שלח">
    </form>
</div>
<% include ../partials/footer %>