<% include ../partials/header %>
<div class="container">
    <a  href="/admin/edit/<%= item.customer._id %>" class="waves-effect waves-light btn">
        <i class="material-icons right">arrow_forward</i>חזרה לדף לקוח</a>
    <h4>טופס תיקון מס' <%= item.labNumber %></h4>        
    <div class="card">
            
        <ul>
            <h5>פרטי לקוח</h5>
            <li><strong>שם: </strong><%= item.customer.fullName %></li>
            <li><strong>דוא"ל:</strong> <%= item.customer.email %></li>
            <li><strong>טלפון:</strong> <%= item.customer.phone %></li>
        </ul>
    </div>
    <div class="card">
        
        <ul>
        <li><strong>מצב: </strong><%= item.status %></li>
        <li><strong>נוצר בתאריך: </strong><%= item.date.toDateString() %></li>
        <% if(item.status != "סגורה"){ %>
            <li><strong>זמן במעבדה: </strong><span id="timeSinceCreated"> <%= time %> </span>יום</li>
        <% } %> 
        <li><strong>מוצר: </strong><%= item.product %></li>
        <li><strong>עלות בדיקה:</strong> <%= item.check%> ש"ח</li>
        <li><strong>בדיקה שולמה מראש:</strong>
            <% if(item.isPayed === true){ %>
                כן
            <% } else { %>
                לא
            <% } %>
        </li>
        
        <li><strong>תיקון וחלקים: </strong><%= item.cost %> ש"ח</li>
        <li><strong>יתרה לתשלום: </strong>
            <% if(item.isPayed === true){%>
                <%= item.cost %> ש"ח
            <% } else { %>
                <%= item.cost + item.check %> ש"ח
            <% } %>
        </li>
        </ul>
    </div>
    
    <div id="labUpdates" class="card">
        <h5>תיאור תקלה</h5>
        <p><%= item.content %></p>
        <h5>עדכוני מעבדה</h5>
        <div class="card noteInput">
        <form action="/admin/edit/<%= item.customer._id%>/labs/<%= item._id %>?_method=PUT" method="POST">
            
            <label for="">עלות תיקון וחלקים</label>
            <input name="lab[cost]" type="number" placeholder="">
            <!-- Status Select -->
                <div class="field stores">
                <h5>עדכן מצב פנייה</h5>
                <label class="radioLabel store">
                    <input class="with-gap" name="lab[status]" value="פתוחה" type="radio" checked/>
                    <span class="radioSpan">פתוחה</span>
                </label>
                <label class="radioLabel store">    
                    <input class="with-gap" name="lab[status]" value="נשלחה הצעת מחיר" type="radio" dir="rtl">
                    <span class="radioSpan">נשלחה הצעת מחיר</span>
                </label>
                <label class="radioLabel store">
                    <input class="with-gap" name="lab[status]" value="הוזמנו חלקים" type="radio" />
                    <span class="radioSpan">הוזמנו חלקים</span>
                </label>
                <label class="radioLabel store">
                    <input class="with-gap" name="lab[status]" value="בתיקון" type="radio" />
                    <span class="radioSpan">בתיקון</span>
                </label>
                <label class="radioLabel store">
                    <input class="with-gap" name="lab[status]" value="סגורה" type="radio" />
                    <span class="radioSpan">סגורה</span>
                </label>
                      
            </div>
                <label for="">הוסף הערה</label>
                <input name="lab[note]" type="text" placeholder="">    
            <!-- End Status Select -->
            <input class="btn" type="submit" value="שלח עדכון">
        </form>
        </div>
        <% item.notes.forEach(function(note){ %>
            <div class="card-content">
                <h6><%=note.author.username %> - <%= note.date.toDateString() %></h6>
                <p><%= note.content %></p>
            </div>
        <% }) %>
    </div>
</div>
<% include ../partials/footer %>